.git
.idea
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

config/auth.json
config/openai.json
public/generated-images

data
*.db
*.db-journal
dev.db
dev.db-journal
chat_sessions.db
chat_sessions.db-journal
prisma/dev.db
prisma/dev.db-journal
prisma/chat_sessions.db
prisma/chat_sessions.db-journal

tsconfig.tsbuildinfo
Dockerfile
docker-compose*.yml
